<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adev.android.legomindfuQ">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="LegoMindfuQ"
        android:roundIcon="@mipmap/logo_icon_round"
        android:supportsRtl="true">
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.MotorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.InstructionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.TowerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.EndGameActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.WelcomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.MainMenuActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.PlayMenuActivity"
            android:parentActivityName="com.adev.android.legomindfuQ.Activity.MainMenuActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.SegnalazioniActivity"
            android:parentActivityName="com.adev.android.legomindfuQ.Activity.MainMenuActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.MultiplayerSelectionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.MultiMotorActivityP1"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.MultiMotorActivityP2"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adev.android.legomindfuQ.Activity.ConnectionTestActivity"
            android:parentActivityName="com.adev.android.legomindfuQ.Activity.MainMenuActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.TutorialActivity"
            android:parentActivityName="com.adev.android.legomindfuQ.Activity.MainMenuActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>